.dashboard-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 40px;
}

.main-title {
  font-size: 56px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.title-border {
  height: 7px;
  width: 100%;
  background-color: var(--color-dark-border);
  margin-bottom: 4rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 40px;
}

.stat-card {
  background-color: transparent;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px var(--color-shadow-dark);
  border: 1px solid var(--color-border);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px var(--color-shadow-dark);
}

.stat-card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.stat-number {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stat-button {
  background-color: var(--color-background);
  color: var(--color-primary-text);
  border: 1px solid var(--color-light-border);
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.stat-button:hover {
  background-color: var(--color-primary-accent);
  color: white;
}

.dashboard-options {
  text-align: center;
}