.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  max-width: 500px;
  margin: 0 auto;
}

.login-form-container {
  width: 100%;
  padding: 2rem;
  border-top: 7px solid black;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-logo {
  margin-bottom: 1rem;
}

.login-title {
  font-size: 1.3rem;
  color: #f42535;
  font-weight: normal;
  margin: 0;
}

.login-subtitle {
  color: #666;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
}
.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 15px 0 10px 0;
  font-size: 1rem;
  color: #333;
}

.inputGroup label {
  position: absolute;
  left: 3px;
  top: 1rem;
  color: #adadad;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background: transparent;
  padding: 0 2px;
}
.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
  top: -0.75rem;
  font-size: 13px;
  background-color: #fff;
  color: #111;
  font-weight: bold;
}
.inputGroup input:focus {
  border-bottom: 1px solid #f42535;
}
.inputGroup input:focus + label {
  color: #111;
}

.login-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 1rem;
}

.login-button:hover {
    background-color: #f42535;
    color: white;
}

.forgot-password,
.register-link {
  text-align: center;
  margin-top: 1rem;
}

.forgot-password a,
.register-link a {
  color: #f42535;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover,
.register-link a:hover {
  text-decoration: underline;
}
