.minimalist-footer {
  background-color: black;
  padding: 20px 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  gap: 50px;
}
.follow-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-right: 1px solid gray;
  padding-right: 100px;
}
.follow-icons{
  display: flex;
  gap: 23px;
}
.follow-icons i{
  color: white;
  font-size: 22px;
  cursor: pointer;
}
.follow-icons i:hover{
  color: #f42535;
}
